[Excel]
XLS_COLUMN_CATEGORY = Cat_Merc
XLS_COLUMN_COMPANY = Azienda
XLS_COLUMN_ITEM = Nome_Art
XLS_COLUMN_SIZE = Formato
XLS_COLUMN_PRICE = prezzo_vendita_ingrosso
XLS_COLUMN_DESCRIPTION = Descrizione_prodotto
XLS_COLUMN_IMG = Codice_Articolo

[Layout]
# integer, margins of A4 sheet in cm
MARGIN = 2 

[System]
# change language and locals
LOCALE = it_IT.UTF-8