[Excel]
XLS_COLUMN_CATEGORY = Cat_Merc
XLS_COLUMN_COMPANY = Azienda
XLS_COLUMN_ITEM = Nome_Art
XLS_COLUMN_SIZE = Formato
XLS_COLUMN_PRICE = prezzo_vendita_ingrosso
XLS_COLUMN_DESCRIPTION = Descrizione_prodotto
XLS_COLUMN_IMG = Codice_Articolo

[Colors]
COVER_TITLE = #ffffff
COVER_SUBTITLE = #ffffff
COVER_BACKGROUND = #c37225
FOOTER = #000000
CATEGORY_TITLE = #000000
CATEGORY_BACKGROUND = #c37225
COMPANY_TITLE = #000000
PRODUCTS_BACKGROUND = #e6dbc6
TABLE_COMPANY_NAME = #c37225
TABLE_ITEM_NAME = #c37225
TABLE_ITEM_PRICE = #117703
TABLE_ITEM_SIZE = #c37225
TABLE_ITEM_NEWS = #c37225
TABLE_BACKGROUND = #ffffff
TABLE_BORDER = #c37225
BODY_BACKGROUND = #e6dbc6
PARAGRAPH_TITLE1 = #c37225
PARAGRAPH_TITLE2 = #000000
PARAGRAPH = #000000

[Resources]
# sottocartella contenente le immagini quadrate dei prodotti
PRODUCTS_IMAGES_SUBFOLDER = img_products
# sottocartella contenente le altre risorse grafiche
OTHER_IMAGES_SUBFOLDER = img_general

[Layout]
# numero intero, margini del foglio A4 in cm
NOME_FILE_PDF = ASE_Catalogo
MARGIN = 2 

[System]
# cambia la lingua
LOCALE = it_IT.UTF-8